html, body{
  min-height: 100%;
}
body {
  background: linear-gradient(99.6deg, rgb(144, 146, 148) 10.6%, rgb(242, 227, 234) 32.9%, rgb(236, 110, 76) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(144, 146, 148) 102.4%);
  background-repeat: no-repeat;
  
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px 15px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ec6e4c;
  border-radius: 50px;
  background: white;
  
}

li {
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}
.header {
  margin: 50px 0;
  background-color: black;
  border-radius: 30px;
}
.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.row {
  margin: 20px 0;
}
.card {
  margin-left: 12px;
}
.center {
  text-align: center;
}
.card ul {
  padding-left: 0;
}

.input-group {
  display: flex;
  justify-content: flex-end;
 
}
input {
  border-radius: 20px;

}

.submit-input {
  background-color: white;
  border-radius: 20px;
  padding-right: 10px;
  color: black;
  
}

.submit-input:active {
  background-color: black;
  color: white;
}

.footer {
  text-align: center;
  margin-top: 100px;
}
.card-body ul {
  margin: 0;
  font-size: 20px;
}
.units {
  position: relative;
  font-size: 10px;
  top: -27px;
  right: -27px;
}
img {
  height: 60px;
  width: 60px;
}
#search-city {
  font-size: 25px;
  font-weight: 600;
}
#search-temperature {
  padding-left: 10px;
  font-size: 35px;
}
.additional-parameters {
  padding-top: 116px;
}
.units .active {
  color: black;
  cursor: default;
}
a {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  margin-top: 10px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
/* test */


#search-input{
  padding-left: 20px;
  padding-right: 20px;
  color: 48484a;
  border: 0px;
  
}

#search-input::placeholder {
  padding-left: 25px;
  background-image: url('../images/icons8-search.svg');
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: left center;
  color: #909294;
}
 
 